.site-footer
  background #eee
  overflow hidden

.site-info
  padding spacing-unit * 2
  background #333
  color #999
  font-size font-size-small
  text-align center
  a
    color #999
    &:hover
      color color-brand
  address
    font-style normal