.global-width
  position relative
  margin 0 auto
  global-width(site-width)

.text-capitalize
  text-transform capitalize

// Button
.btn
  padding 10px 15px
  border 1px solid color-border
  color color-text-light
  font-size font-size
  border-radius border-radius-unit

// Alert
.alert
  position relative
  padding spacing-unit
  background color-brand
  color #fff
  text-align center